@using QuickOrder.Entities.Entities.EntityFramework

@model CompanyInformations
<footer style="bottom:1px!important;">
    <div class="footer-part wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="icon-default icon-dark">
            <img src="~/content/staticImages/arrow-top.png" alt="">
        </div>
        <div class="container">
            <div class="footer-inner">
                <div class="footer-info">
                    <h3>@Model.companyName</h3>
                    <p>@Model.companyAddress</p>
                    @foreach (var phone in Model.Phones)
                    {
                        <p><a href="#">@phone.phoneNumber</a></p>
                    }

                    <p><a href="#">@Model.email</a></p>
                </div>
            </div>
            <div class="copy-right">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 copyright-before">
                        <span>Copyright © @DateTime.Now.Year @Model.companyName. Tüm Hakları Saklıdır.</span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 copyright-after">
                        <div class="social-round">
                            <ul>
                                <li><a href="@Model.facebookUrl"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="@Model.twitterUrl"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="@Model.InstagramUrl"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="icon-find">
            <a href="#">
                <img src="/content/staticImages/location.png" alt="@Model.companyName">
                <span>Bizi Bulun !</span>
            </a>
        </div>
        <div class="location-footer-map">
            <div class="icon-find-location">
                <a href="#">
                    <img src="/content/staticImages/location.png" alt="@Model.companyName">
                    <span>Bizi Bulun !</span>
                </a>
            </div>
            <div class="footer-map-outer">
                <div id="footer-map"></div>
            </div>
        </div>
    </div>
</footer>